<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>
<div class="nav-collapse collapse">
    <ul class="nav">
        <li class="active"><a href="#" id='accueil'>Accueil</a></li>
        <li><a href="#" id='somato'>Somatopathie</a></li>
        <li><a href="#" id='bienfaits'>Bienfaits</a></li>
        <li><a href="#" id='parcours'>Parcours</a></li>
        <li><a href="#" id='liens'>Liens</a></li>
    </ul>
</div><!--/.nav-collapse -->