<div id="info">
    <h2 id="info-header">Demande d'information</h2>
    <!--<p id="info-done" class="hidden">Votre demande d'information a été transmise.</p>-->
    <form method='post' id='nl-form' class="">
        <div class="control-group" id='nom-grp'>
            <label class="control-label text-left" for='nom'>Nom</label>
            <div class="controls">
                <input type='text' id='nom' name='nom' placeholder="Prénom Nom" class="input-fill" required>
                <div class="alert alert-error hidden">Vous devez renseigner votre nom</div>
            </div>
        </div>

        <div class="control-group" id='email-grp'>
            <label class="control-label text-left" for='email'>Email</label>
            <div class="controls">
                <input type='email' id='email' name='email' placeholder="email" class="input-fill" required>
                <div class="alert alert-error hidden" id='email-error'>L'email indiqué n'est pas valide !</div>
            </div>
        </div>
        <div class="control-group" id='msg-grp'>
            <label class="control-label text-left" for='msg'>Message</label>
            <div class="controls">
                <textarea id='msg' name='msg' rows="3" class="input-fill" required></textarea>
                <div class="alert alert-error hidden">Merci d'indiquer votre message</div>
            </div>
        </div>

        <div class="control-group center">
            <button type="submit" id="submit" value="Envoyer" onclick='validate();
                    return false;' class="btn">Envoyer</button>
            <div id='nl-success' class="hidden">Votre message a bien été transmis.<br />Vous devriez recevoir un email de confirmation dans les minutes à venir.</div>
            <div id='nl-failure' class="hidden">Un problème technique a eu lieu. Merci de réessayer ultérieurement ou de me contacter par téléphone.<br />Veuillez nous excuser pour ce désagrément.<br /></div>
        </div>
    </form>
</div>